/* ⭐️⭐️⭐️⭐️ */
/* CLIENT  */
/* ⭐️⭐️⭐️⭐️ */

/* global styles */
@import 'reset.css';
/* @import 'typography.css'; */


/* server items inladen */
/*.layout and view styling */
@import '../server/layouts/base.css';
@import '../server/views/index.css';


/* component styling */
@import '../server/components/card/card.css';

/* 💗💗💗💗💗💗💗💗💗 */
/* GENERAL STYLING */
/* 💗💗💗💗💗💗💗💗💗 */


/* CUSTOM PROPERTIES */
:root{
  /* main colors */
  --color-white: #FFFFFF; 
  --color-black: #000000;

  /* accent colors */
  --color-beige: #DDD6CE;
  --color-beige-light: #F5EBDD;
  --color-pastel-green: #D4F4DD;
  --color-pastel-blue: #DCEEF2;
  --color-pastel-pink: #FADADD;
  --color-pastel-yellow: #FFF5C3;
  --color-pastel-orange: #F2C6B4;
  
  /* font */
  --font-primair: "unbounded", sans-serif;
  --font-secundair: "CLAY", sans-serif;
  --font-third: "CLAY", sans-serif;

  /* derde font toevoegen  */
}


/*  ⭐️ GENERAL STYLING ⭐️ */
body {
  font-family: var(--font-primair);
  font-weight: 300;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  color: black;
  text-decoration: none;
  font-family: "Unbounded";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/* ⭐️ HEADER & FOOTER STYLING ⭐️ */
header, footer {
  background-color: #eee;
  padding: 1rem;
  text-align: center;
}

main {
  padding: 2rem;
}

ul, li {
  list-style: none;
}

