{% layout "server/layouts/base.liquid" %}


{% block project %}
<div class="single-project">

  <!-- Introductie -->
  <section class="introduction-project">
    <ul>
      <li><p class="badge">Human Centered Design</p></li>
      <li><h1>Een Persoonlijke App voor <span class="highlight">Eric Groot Kormelink</span></h1></li>
      <li><p class="intro">
        Beleidsmedewerker Mobiliteit en Toegankelijkheid bij Cliëntenbelang Amsterdam. Zet zich in voor fysieke en digitale toegankelijkheid in Amsterdam.
      </p></li>
      <li><a href="#" class="btn-primary" target="_blank">See live project→</a></li>
    </ul>
  </section>

  <article class="project-section">
    <div class="text">
      <h2>📌 Projectdoel</h2>
      <p>
        Voor het vak Human Centered Design is het doel om een persoonlijke app te ontwikkelen voor Eric Groot Kormelink. De focus ligt op het verbeteren van de toegankelijkheid voor mensen met een beperking in Amsterdam.
      </p>
    </div>
    <div class="image">
      <img src="/assets/images/tapchat.png" alt="Overzicht van het project" />
    </div>
  </article>

  <article class="project-section">
    <div class="text">
      <h2>📌 Projectdoel</h2>
      <p>
        Voor het vak Human Centered Design is het doel om een persoonlijke app te ontwikkelen voor Eric Groot Kormelink. De focus ligt op het verbeteren van de toegankelijkheid voor mensen met een beperking in Amsterdam.
      </p>
    </div>
  </article>

  <article class="project-section">
    <div class="image">
      <img src="/assets/images/tapchat.png" alt="Overzicht van het project" />
    </div>
    <div class="image">
      <img src="/assets/images/tapchat.png" alt="Overzicht van het project" />
    </div>
  </article>

</div>


{% endblock %}