{% layout "server/layouts/base.liquid" %}


{% block project %}
<div class="single-project">

  <!-- Introductie -->
  <section class="introduction-project">
    <ul>
      <li><p class="badge">Minor Webdesign & Development</p></li>
      <li><h1><span class="highlight">Reflection</span> on the whole minor </h1></li>
      <li><p class="intro">
        .....
      </p></li>
    </ul>
  </section>

  <article class="project-section">
    <div class="text">
      <h2> 💫 Latest reflection</h2>
      <p>
        ......
      </p>
    </div>
  </article>

  <article class="project-section">
    <div class="text">
      <h2>BT</h2>
      <p>
        Voor het vak Human Centered Design is het doel om een persoonlijke app te ontwikkelen voor Eric Groot Kormelink. De focus ligt op het verbeteren van de toegankelijkheid voor mensen met een beperking in Amsterdam.
      </p>
    </div>
    <div class="image">
      <img src="/assets/images/tapchat.png" alt="Overzicht van het project" />
    </div>
  </article>

  <article class="project-section">
    <div class="text">
      <h2>CSS ONLY</h2>
      <p>
        Voor het vak Human Centered Design is het doel om een persoonlijke app te ontwikkelen voor Eric Groot Kormelink. De focus ligt op het verbeteren van de toegankelijkheid voor mensen met een beperking in Amsterdam.
      </p>
    </div>
    <div class="image">
      <img src="/assets/images/tapchat.png" alt="Overzicht van het project" />
    </div>
  </article>

  <article class="project-section">
    <div class="text">
      <h2>API</h2>
      <p>
        Voor het vak Human Centered Design is het doel om een persoonlijke app te ontwikkelen voor Eric Groot Kormelink. De focus ligt op het verbeteren van de toegankelijkheid voor mensen met een beperking in Amsterdam.
      </p>
    </div>
    <div class="image">
      <img src="/assets/images/tapchat.png" alt="Overzicht van het project" />
    </div>
  </article>

  <article class="project-section">
    <div class="text">
      <h2>HCD</h2>
      <p>
        Voor het vak Human Centered Design is het doel om een persoonlijke app te ontwikkelen voor Eric Groot Kormelink. De focus ligt op het verbeteren van de toegankelijkheid voor mensen met een beperking in Amsterdam.
      </p>
    </div>
    <div class="image">
      <img src="/assets/images/tapchat.png" alt="Overzicht van het project" />
    </div>
  </article>

  <article class="project-section">
    <div class="text">
      <h2>WAFS</h2>
      <p>
        Voor het vak Human Centered Design is het doel om een persoonlijke app te ontwikkelen voor Eric Groot Kormelink. De focus ligt op het verbeteren van de toegankelijkheid voor mensen met een beperking in Amsterdam.
      </p>
    </div>
    <div class="image">
      <img src="/assets/images/tapchat.png" alt="Overzicht van het project" />
    </div>
  </article>


  <article class="project-section">
    <div class="text">
      <h2>Previous reflections</h2>
      <p>
        Voor het vak Human Centered Design is het doel om een persoonlijke app te ontwikkelen voor Eric Groot Kormelink. De focus ligt op het verbeteren van de toegankelijkheid voor mensen met een beperking in Amsterdam.
      </p>
    </div>
  </article>


</div>


{% endblock %}