{% layout "server/layouts/base.liquid" %}


{% block project %}
<div class="single-project">

  <!-- Introductie -->
  <section class="introduction-project">
    <ul>
      <li><p class="badge-lightpink"> Minor Webdesign & Development</p></li>
      <li><h1><span class="highlight">Reflection</span> on the whole minor </h1></li>
      <li><p class="intro">
       Within this last half year, I have learned a lot about web design and development. I have gained a lot of knowledge by speakers, making of projects, following workshops 
       and my first project for a client working in a team!
      </li>
    </ul>
  </section>

  <article class="project-section">
    <div class="text">
      <h2> 💫 Latest reflection</h2>
      <p>
        This last few weeks have been really fun but also challenging. I have absorbed every thing I could for informatio about html, css and json. 
        I learned new elements, new ways to structure your code, to be more accessible and to have a more active behaviour in class. Sometimes I can be shy, but I truly popped out of my shell
        and became a step more confident in my skills. It's okey to ask questions, to be curious and to not know everything. 
      </p>
    </div>
  </article>

  <article class="project-section white-border">
    <div class="text">
      <h2>HCD</h2>
      <p>
        In the beginning of this project, I found it very difficult to be creative, because the client wanted a chat app. So in first instance, you think of a keyboard.
        I want to be different, so I made something completely different.
        <br>
        <br>
        I made a tapchat, which has prep chats that you can copy and send. This project was testing and processing your 
        result into your app. Vasilis told me to be more out of the box, so I made categories in the app like; Relationships, theater, work, etc.       </p>
    </div>
    <div class="image">
      <img src="/assets/images/tapchat.png" alt="Tapchat project" />
    </div>
  </article>

  <article class="project-section white-border">
    <div class="text">
      <h2>CSS ONLY</h2>
      <p>
      This was my favorite project of the whole minor. I made a Nintendo Switch Lite only using HTML & CSS. Before I made this project,
      I had no idea how to make something like this, and only with CSS? 
      <br>
      <br>
      I made a lot of mistakes, but I learned a lot and now I can make animations 
      and pixelart with CSS! And ofcourse my favorite teacher Sanne was teaching this subject.
      </p>
    </div>
    <div class="image">
      <img src="/assets/images/nintendo-switch-lite.png" alt="Nintendo switch lite made with css" />
    </div>
  </article>

  <article class="project-section white-border">
    <div class="text">
      <h2>API</h2>
      <p>
        This project was eye opening for me. I never worked with liquid before, but after this project I love it. 
        I'm using it know for my portfolio. I learned a lot from this project. However, the view transitions didn't work, I made geo locations work and 
        using node local storage to save your favorite animals! It was really fun to make and I learned a lot. 
      </p>
    </div>
    <div class="image">
      <img src="/assets/images/api-project.png" alt="Project API Animal shelter" />
    </div>
  </article>

  <article class="project-section white-border">
    <div class="text">
      <h2>BT</h2>
      <p>
        When I first started this project, I hated it. It was a form with a lot of text en options and I had to use radio buttons and :has() and it was a lot!
        It also had to be responsive for screen size 280px till 2000px or more.
        <br>
        <br>
        I used clamp, flexbox and ivoker commands.
        Looking back at this project, I really like how it turned out! The validation works, it's responsive and the styling went really well!
      </p>
    </div>
    <div class="image">
      <img src="/assets/images/tax-authorities-2.png" alt="Tax authorities project" />
    </div>
  </article>

  <article class="project-section white-border">
    <div class="text">
      <h2>WAFS</h2>
      <p>
        This was the first website I made during this minor and I remember feeling very overwelmed. Everyone was so good and knew their code skills 
        and I was just starting without any experience. I felt like I was behind, so I worked really hard to make this first website good, so I wasn't the baddest in the class.
        <br>
        <br>
        Looking back, I see a lot of things I could have done different, but I'm still proud of this project. Because my skills and knowledge at that time were very different with 
        what I know and can now. I'm really proud! And I got a 8 for this project.
      </p>
    </div>
    <div class="image">
      <img src="/assets/images/wafs-project.png" alt="Overzicht van het project" />
    </div>
  </article>


  <article class="project-section">
    <div class="text">
      <h2>🎀 Previous reflections</h2>
      <p>
        Before the master piece, the reflection were more focused on upgrading my skills: experimenting with css, using animations and writing clear vanilla code.
        It changed to getting more out of project and challeging myself. But I feel like I did everything I could to upgrade my skills.
        I went to every workshop, I asked questions, I made annotations during talks and read articles extc. I forced myself to grow and I grew. I'm really glad that I made this 
        much of a process and I feel that you can really see it in my projects!
      </p>
    </div>
  </article>


</div>


{% endblock %}