/* ⭐️   General   ⭐️  */
body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;

  background: radial-gradient(
    circle at 50% 50%,
    #f499bc 0%,
    #e5c1d0 30%,
    #e67a9c 60%,
    #ececec 100%
  );

  filter: blur(300px);
  opacity: 0.9;
}


body{
  font-family: var(--font-primair);
  font-weight: 200;
  min-height: 100vh;
  color: var(--color-black);
}


/* ⭐️ HEADER & FOOTER STYLING ⭐️ */
header, footer{
  font-family: 'Helvetica Neue', sans-serif;
}

.menu-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px 12px;
  font-size: 16px;
  background: rgba(255,255,255,0.5);
  backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
  z-index: 100;
}

.navigationIcons, footer p{
  position: fixed;
  transform: translateX(-50%);
  backdrop-filter: blur(12px);
  border-radius: 20px;
  z-index: 50;

  ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}

.navigationIcons{
  bottom: 30px;
  left: 50%;
  padding: 30px 80px;
  background: rgba(255,255,255,0.6);
}

footer p{
  bottom: 20px;
  left: 7%;
}

.icon-nav{
  font-size: 35px;
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.2);
  }
}

