{% layout "server/layouts/base.liquid" %}

{% block hacakthon %}
<div class="single-project">

  <!-- Introductie -->
  <section class="introduction-project">
    <ul>
      <li><p class="badge-lightpink">Hackathon winning project</p></li>
      <li><h1>Guess who? - <span class="highlight"> Women in tech edition</span></h1></li>
      <li><p class="intro">
        For the Hackathon, together with Tymo and David, we created a game "Guess who?", specially made for women in the tech! For people
        to get to know the women in a fun and interactive way!
        <br>
        The game is made with HTML, CSS and JavaScript. We created the game in 4 days time. We had 2 days to come up with a concept and 2 today to make it in code.
        Together with my team we brainstormed about the concept, worked it out and finally presented it.
      </p></li>
      <li><a href="https://tymonl.github.io/Hackathon/" class="live-website">See live project →</a></li>
    </ul>
  </section>

  <article class="project-section">
    <div class="text">
      <h2 class="gradient-greypink"> ✨ Solution</h2>
      <p>
       The solution to praise the women in tech is a game "Guess who?". The styling is inspired by women in tech global conference. 
       With their house style, we made the game and we of course played the game ourselves. We, as a group, got rewarded with tickets to the 
       CSS day Conference in Amsterdam, which we were very excited about!
      </p>
    </div>
  </article>

  <article class="project-section all-images">
    <div class="image">
      <img src="/assets/images/HTK-1.png" alt="Home page project Hackathon" />
    </div>
    <div class="image">
      <img src="/assets/images/HTK-2.png" alt="3D gameboard of the Hackathon project" />
    </div>
  </article>


  <article class="project-section">
    <div class="text">
      <h2> New insights</h2>
      <p>
        David made a 3D board with only CSS. I would love to be able to do that myself as well. I also want to 
        improve my skills with JavaScript. This is a language I am the least good in, but I'm willing to learn so 
        this will be my next project!
      <br>
      </p>
    </div>
  </article>

  <article class="project-section">
    <div class="text">
      <h2>My part in this project</h2>
      <p>
        My part in this project is making up de concept, designing the game and making wireframes and of course building the home page.
        Tymo connected the game to the database and David made the 3D board. The teamwork went really well but we didn't have too much time to 
        work out the game any further because we only had 4 days to complete the project.
      <br>
      </p>
    </div>
    <div class="image">
      <img src="/assets/images/HTK-3.png" alt="Figma file with our process"/>
    </div>
  </article>

  <article class="project-section">
    <div class="text last-one">
      <h2> 
        👀 Reflection</h2>
      <p>
        Reflecting on the Hackathon, I can say that it was a great experience. I never joined a Hackathon in my life so it was a 
        good but hectic experience. I thought the time pressure was a bit much, but that made it also more exciting.
        It was really fun to work together in such a short time, but we're really happy with the endresult ofcourse. 
      </p>
    </div>
  </article>
</div>

{% endblock %}
