{% layout "server/layouts/base.liquid" %}

{% block hacakthon %}
<div class="single-project">

  <!-- Introductie -->
  <section class="introduction-project">
    <ul>
      <li><p class="badge">Hackathon winning project</p></li>
      <li><h1>Guess who? - <span class="highlight"> Women in tech edition</span></h1></li>
      <li><p class="intro">
        Voor de Hackathon heb ik samen met Tymo en David een game "Wie ben ik?" gemaakt zodat mensen vrouwen in tech leren kennen. 
        <br>
        Het spel is gemaakt met HTML, CSS en JavaScript. We hebben het spel gemaakt in 2 dagen tijd. 
        Samen met het team zijn het concept gaan bedenken, uitwerken en uiteindelijk gepresenteerd.
      </p></li>
      <li><a href="https://tymonl.github.io/Hackathon/" class="live-website">See live project →</a></li>
    </ul>
  </section>

  <article class="project-section">
    <div class="text">
      <h2 class="gradient-greypink"> ✨ Solution</h2>
      <p>
        ..solution
      </p>
    </div>
  </article>

  <article class="project-section all-images">
    <div class="image">
      <img src="/assets/images/HTK-1.png" alt="Home page project Hackathon" />
    </div>
    <div class="image">
      <img src="/assets/images/HTK-2.png" alt="3D gameboard of the Hackathon project" />
    </div>
  </article>

  <article class="project-section">
    <div class="text">
      <h2>New insights</h2>
      <p>
        David had een 3D bord gemaakt met CSS. Dit zou ik super vet vinden om ook zelf te kunnen maken. 
        Ook wil ik beter worden in JavaScript aangezien dit een taal is waar ik het minst goed in ben.
      <br>
      </p>
    </div>
  </article>

  <article class="project-section">
    <div class="text">
      <h2>My part in this project</h2>
      <p>
        Voor de Hackathon heb ik samen met Tymo en David een game "Wie ben ik?" gemaakt zodat mensen vrouwen in tech leren kennen. 
        Het spel is gemaakt met HTML, CSS en JavaScript. We hebben het spel gemaakt in 2 dagen tijd. 
        Samen met het team zijn het concept gaan bedenken, uitwerken en uiteindelijk gepresenteerd.
      <br>
      </p>
      <a href="https://github.com/RedDragg/TheFramers-2025/wiki/Product-biografie-%E2%80%90-%E2%9C%A8-Kim" class="live-product">See product biograph → </a>
    </div>
    <div class="image">
      <img src="/assets/images/HTK-3.png" alt="Figma file with our process"/>
    </div>
  </article>

  <article class="project-section">
    <div class="text">
      <h2> 
        👀 Reflection</h2>
      <p>
        Ik vond het een leuke ervaring om samen met mijn teamgenoten te werken aan een project van 2/3 dagen.
        Het was wel snel werken en intensief, maar ik ben erg tevreden met het eindresultaat.
        Ook mogen wij als team naar de CSS day, waar ik zeker naar uitkijk.
      </p>
    </div>
  </article>
</div>

{% endblock %}
