{% layout "server/layouts/base.liquid" %}

{% block hacakthon %}
<section class="introduction-hackathon">
    <h2>Hackathon</h2>
    <h3><span>Women in tech </span> - Guess who game </h3>
    <p>Within a week, my group and I made a website to honour the womens in tech!</p>
    <img src="/assets/images/women-in-tech.png" alt="project women in tech - cover image">
</section>

{% comment %} tape with all the school subjects {% endcomment %}
<div class="tape-bar">
    <ul class="scrolling-list">
      <li>Hackathon</li>
      <li>âœ¹</li>
      <li>One week</li>
      <li>âœ¹</li>
      <li>API</li>
      <li>âœ¹</li>
      <li>3D board</li>
      <li>âœ¹</li>
      <li>Teamwork</li>
      <li>âœ¹</li>
      <li>Tymo & David</li>
      <li>âœ¹</li>
      <li>Guess who game!</li>
  
  
      <!-- ðŸ” Duplicatie voor naadloze loop -->
      <li>Hackathon</li>
      <li>âœ¹</li>
      <li>One week</li>
      <li>âœ¹</li>
      <li>API</li>
      <li>âœ¹</li>
      <li>3D board</li>
      <li>âœ¹</li>
      <li>Teamwork</li>
      <li>âœ¹</li>
      <li>Tymo & David</li>
      <li>âœ¹</li>
      <li>Guess who game!</li>
    </ul>
</div>

{% endblock %}