{% layout "server/layouts/base.liquid" %}

{% block homeOverview %}
<section class="widgets">
  <ul>
    <li>Weekly nerds</li>
    <li>
      <section>
        <h1>Hackathon</h1>
        <h2>Women in tech - Guess who</h2>
        <p>🤓</p>
      </section>
    </li>


    <li>Meesterproef</li>
    <li>Subjects</li>
    <li>My projects</li>
    <li></li>
    <li>widget</li>
  </ul>
</section>

{% endblock %}
