{% layout "server/layouts/base.liquid" %}

{% comment %} inhoud van de main op de home page {% endcomment %}

{% block homeOverview %}
{% comment %} home banner {% endcomment %}
<main>
  <div class="gradientHome">
  </div>
  
  <section>
   <h1>Webdesign
     <br></br>& development</h1>
   <button>scroll please!</button>
  </section>
  
  <ul class="scroll-banner">
    <li>first year cum laude</li>
    <li>Always eager to learn more!</li>
    <li>Dreamwork is teamwork</li>
     <li>first year cum laude</li>
    <li>Always eager to learn more!</li>
    <li>Dreamwork is teamwork</li>
  </ul>
  
  </main>

{% endblock %}

