{% layout "server/layouts/base.liquid" %}

{% block meesterproef %}
<section class="introduction-hackathon">
    <h2>Meesterproef</h2>
    <h3>Framer framed archive for neurodivert people!</h3>
    <p>Within a week, my group and I made a website to honour the womens in tech!</p>
    <img src="/assets/images/nintendo-switch-lite.png" alt="Meesterproef project">
</section>

{% comment %} tape with all the school subjects {% endcomment %}
<div class="tape-bar">
    <ul class="scrolling-list">
      <li>Masterpiece</li>
      <li>âœ¹</li>
      <li>4 weeks</li>
      <li>âœ¹</li>
      <li>Teamwork</li>
      <li>âœ¹</li>
      <li>Framer Framed</li>
      <li>âœ¹</li>
      <li>target group : Neurodivergents </li>
      <li>âœ¹</li>
      <li>Data visualisation</li>
      <li>âœ¹</li>
      <li>The final project</li>
      <li>âœ¹</li>
  
      <!-- ðŸ” Duplicatie voor naadloze loop -->
      <li>Masterpiece</li>
      <li>âœ¹</li>
      <li>4 weeks</li>
      <li>âœ¹</li>
      <li>Teamwork</li>
      <li>âœ¹</li>
      <li>Framer Framed</li>
      <li>âœ¹</li>
      <li>target group : Neurodivergents </li>
      <li>âœ¹</li>
      <li>Data visualisation</li>
      <li>âœ¹</li>
      <li>The final project</li>
      <li>âœ¹</li>
    </ul>
</div>

{% endblock %}