{% layout "server/layouts/base.liquid" %}

{% block meesterproef %}
<div class="single-project">

  <!-- Introductie -->
  <section class="introduction-project">
    <ul>
      <li><p class="badge">The final project</p></li>
      <li><h1>Archive website for <span class="highlight">Framer Framed</span></h1></li>
      <li><p class="intro">
        Framer Framed requested us to rethink and build the 💻 Archive website, which shows the connections of all the exhibitions, work and data collected over the years.
        <br>
        This website is free for the public and accessible for everyone, which jumps to the point of the project. 
        <br>
        <br>
        The Archive website needed a make-over to be accessible for everyone (comply with the rules of WCAG guidelines) but also specifically 
        for one target group with a disability, while redesigning how their data was.
      </p></li>
      <li><a href="https://dashboard-hl8y.onrender.com/NL" class="live-website">See live project →</a></li>
    </ul>
  </section>

  <article class="project-section">
    <div class="text">
      <h2 class="gradient-greypink"> ✨ Solution</h2>
      <p>
        Prototype tailored specific to people with a cognitive disorder such as ADHD, ADD and autism.
        Better architecture of the data & more structured and organised way of viewing the Framer Framed content/data.
      </p>
    </div>
  </article>

  <article class="project-section all-images">
    <div class="image">
      <img src="/assets/images/FF-1.png" alt="Overview home page Framer Framed project " />
    </div>
    <div class="image">
      <img src="/assets/images/FF-2.png" alt="Overview home page all data Framer Framed" />
    </div>
  </article>

  <article class="project-section">
    <div class="text">
      <h2>📌 Projectdoel</h2>
      <p>
        Voor het vak Human Centered Design is het doel om een persoonlijke app te ontwikkelen voor Eric Groot Kormelink. De focus ligt op het verbeteren van de toegankelijkheid voor mensen met een beperking in Amsterdam.
      </p>
    </div>
    <div class="image">
      <img src="/assets/images/tapchat.png" alt="Overzicht van het project" />
    </div>
  </article>



</div>


{% endblock %}
