{% layout "server/layouts/base.liquid" %}

{% block meesterproef %}
<div class="single-project">

  <!-- Introductie -->
  <section class="introduction-project">
    <ul>
      <li><p class="badge">The final project</p></li>
      <li><h1>Archive website for <span class="highlight">Framer Framed</span></h1></li>
      <li><p class="intro">
        Framer Framed requested us to rethink and build the 💻 Archive website, which shows the connections of all the exhibitions, work and data collected over the years.
        <br>
        This website is free for the public and accessible for everyone, which jumps to the point of the project. 
        <br>
        <br>
        The Archive website needed a make-over to be accessible for everyone (comply with the rules of WCAG guidelines) but also specifically 
        for one target group with a disability, while redesigning how their data was.
      </p></li>
      <li><a href="https://dashboard-hl8y.onrender.com/NL" class="live-website">See live project →</a></li>
    </ul>
  </section>

  <article class="project-section">
    <div class="text">
      <h2 class="gradient-greypink"> ✨ Solution</h2>
      <p>
        Prototype tailored specific to people with a cognitive disorder such as ADHD, ADD and autism.
        Better architecture of the data & more structured and organised way of viewing the Framer Framed content/data.
      </p>
    </div>
  </article>

  <article class="project-section all-images">
    <div class="image">
      <img src="/assets/images/FF-1.png" alt="Overview home page Framer Framed project " />
    </div>
    <div class="image">
      <img src="/assets/images/FF-2.png" alt="Overview home page all data Framer Framed" />
    </div>
  </article>

  <article class="project-section">
    <div class="text">
      <h2>My part in this project</h2>
      <p>
      I made the home page "all data" and "per category". As well as helping my group with creating the concept, prototyping and coding of the website!
      <br>
      </p>
      <a href="https://github.com/RedDragg/TheFramers-2025/wiki/Product-biografie-%E2%80%90-%E2%9C%A8-Kim" class="live-product">See product biograph → </a>
    </div>
    <div class="image">
      <img src="/assets/images/FF-3.png" alt="Figma file with our process"/>
    </div>
  </article>

  <article class="project-section">
    <div class="text">
      <h2> 
        👀 Reflection</h2>
      <p>
        Reflecting back on the project..........
      </p>
    </div>
  </article>
</div>


{% endblock %}
