{% layout "server/layouts/base.liquid" %}

{% block meesterproef %}
<div class="single-project">

  <!-- Introductie -->
  <section class="introduction-project">
    <ul>
      <li><p class="badge">The final project</p></li>
      <li><h1>Archive website for <span class="highlight">Framer Framed</span></h1></li>
      <li><p class="intro">
        Framer Framed requested us to rethink and build the 💻 Archive website, which shows the connections of all the exhibitions, work and data collected over the years.
        <br>
        This website is free for the public and accessible for everyone, which jumps to the point of the project. 
        <br>
        <br>
        The Archive website needed a make-over to be accessible for everyone (comply with the rules of WCAG guidelines) but also specifically 
        for one target group with a disability, while redesigning how their data was.
      </p></li>
      <li><a href="https://dashboard-hl8y.onrender.com/NL" class="live-website">See live project →</a></li>
    </ul>
  </section>

  <article class="project-section">
    <div class="text">
      <h2 class="gradient-greypink"> ✨ Solution</h2>
      <p>
        Prototype tailored specific to people with a cognitive disorder such as ADHD, ADD and autism.
        Better architecture of the data & more structured and organised way of viewing the Framer Framed content/data.
      </p>
    </div>
  </article>

  <article class="project-section all-images">
    <div class="image">
      <img src="/assets/images/FF-1.png" alt="Overview home page Framer Framed project " />
    </div>
    <div class="image">
      <img src="/assets/images/FF-2.png" alt="Overview home page all data Framer Framed" />
    </div>
  </article>

  <article class="project-section">
    <div class="text">
      <h2>My part in this project</h2>
      <p>
      I made the home page "all data" and "per category". As well as helping my group with creating the concept, prototyping and coding of the website!
      <br>
      </p>
      <a href="https://github.com/RedDragg/TheFramers-2025/wiki/Product-biografie-%E2%80%90-%E2%9C%A8-Kim" class="live-product">See product biograph → </a>
    </div>
    <div class="image">
      <img src="/assets/images/FF-3.png" alt="Figma file with our process"/>
    </div>
  </article>

  <article class="project-section">
    <div class="text">
      <h2> 
        🎀 My goals </h2>
        <ul>
          <li>
            <p class="badge">Goal 1</p>
            <p>
              Gebruikerservaring (UX) van mijn project verbeteren door het toepassen van technieken zoals View transitions enzv. betere overgangen en visuele aantrekkleijke interfaces & consistency 
            </p>

            <p class="badge">Elaboration</p>
            <p>
              View transitions gebruiken - afspraak met Cyd - na toevoegen van nieuwe technieken, feedback vragen op visuele impact gebruiksvriendelijkheid
            </p>
          </li>

          <hr>

          <li>
            <p class="badge">Goal 2</p>
            <p>
              Actievere vragen stellen & hulp zoeken
            </p>

  
            <p class="badge">Elaboration</p>
            <p>
              Actievere houding ontwikkelen door elke les of meeting actief mee te denken voor vragen, begrijp ik alle informatie? Zo niet, stel een vraag. Vragen voorbereiden voor de les, misschien check-ins met de docenten, vaker feedback over code of over de manier van werken.
            </p>
          </li>

          <hr>

          <li>
            <p class="badge">Goal 3</p>
            <p>
              Out of the box denken & werken. Dit houdt in : creatieve vaardigheden verbeteren met kleuren, animaties enzv. Experimenteren met nieuwe technieken, kleurencombinaties en anders toepassen. Buiten mijn comfortzone stappen!!
            </p>

            <p class="badge">Elaboration</p>
            <p>
              Wekelijks een experimentje uitvoeren - nieuwe kleurencombinatie, layout of animatie. Inspiratie verzamelen en uitproberen, fouten maken hoort bij het proces.
            </p>
          </li>
        </ul>
      
    </div>
  </article>

  <article class="project-section">
    <div class="text">
      <h2> 
        👀 Reflection</h2>
      <p>
       Reflecting on the project, I grew a lot through the whole process, from the concept to the final product. The teamwork was a big positive thing in this project.
       Without our teamwork our project would not be what it is now. I really enjoyed working with my team. The communication was good, we were all responsible and respectfull, we gave each other feedback and we helped each other. 
       <br>
       <br>
       I think my part of the project was my succes of all the information that I absorbed this minor. From the basic form with HTML to CSS styling working with gradients and box-shadows to 
       making the website accessible with WCAG guidelines, clamp, color contrast checking extc.
       <br>
       <br>
       Described in my product Biograph, I'm proud that I successsfully completed my goals for this project. The last weeks were sometimes hard for me,
       because I had to work hard this whole minor but I'm really proud on my process and I would do it all over again!
      </p>
    </div>
  </article>
</div>


{% endblock %}
