{% layout "server/layouts/base.liquid" %}


{% block project %}

<ul class="subjects-overview">
    <li><h2> ✨ Speaker Rosa ✨</h2></li>
    <li><p>Scroll down to see my notations</p></li>
    <li>  
        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
         <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 19V5m0 14-4-4m4 4 4-4"/>
        </svg></li>
    </li>
</ul>
    {% comment %} <h2>Stop using JS, but instead HTML & CSS </h2> {% endcomment %}

<section class="map-overview">
<div class="window">
  <div class="toolbar">
    <div class="traffic-lights">
      <span class="red"></span>
      <span class="yellow"></span>
      <span class="green"></span>
    </div>
    <div class="title">EIGHTH SPEAKER - ROSA</div>
  </div>
  <div class="content">
    <aside class="sidebar">
      <div class="section">Favorites</div>
      <ul>
        <li>AirDrop</li>
        <li>Recents</li>
        <li>Applications</li>
        <li>Desktop</li>
        <li>Documents</li>
        <li>Downloads</li>
      </ul>
      <div class="section">iCloud</div>
      <ul>
        <li>iCloud Drive</li>
        <li>Shared</li>
      </ul>
      <div class="section">Tags</div>
      <ul class="tags">
        <li><span class="dot red-dot"></span>Red</li>
        <li><span class="dot orange-dot"></span>Orange</li>
        <li><span class="dot yellow-dot"></span>Yellow</li>
        <li><span class="dot green-dot"></span>Green</li>
        <li><span class="dot blue-dot"></span>Blue</li>
        <li><span class="dot purple-dot"></span>Purple</li>
        <li><span class="dot gray-dot"></span>Gray</li>
      </ul>
    </aside>


  <div class="main-content">
  
    <div class="single-project">
        <section class="introduction-project change-color">
          <ul>
            <li><p class="badge-lightpink">Speaker 8</p></li>
            <li><h1><span class="highlight">Hacking</span> and making it cool!</h1></li>
            <li class="intro">
            </li>
          </ul>
        </section>


        <article class="project-section">
          <div class="text">
            <h2 class="gradient-greypink"> Summary </h2>
            <p>
              Rosa was also a CMD student and she came to talk about hacking. First I thought hacking into software and stealing money, but no.
              Hacking of printers and old devices to create music and funny machines. She talked about she hacked a E-reader, to not be devoted on devices.
              She hacks in hacklabs with other nerds to build and break devices and she had a device that she hacked and turned it into a music box with high notes. 
            </p>
          </div>
        </article>

        <article class="project-section">
          <div class="text">
            <h2 class="gradient-greypink"> 💫 Reflectie</h2>
            <p>
              I was excited for her talk, because I never heard anyone talk about hacking, but I was a bit dissapointed. I see hacking as breaking a website, 
              cyber security but not about breaking a old device and rebuilding it. But Rosa made it fun ofcourse and it was interesting, but not really my cup of tea. 
              I preferred something a bit more out of the box instead of hacking E-readers. 
            </p>
          </div>
        </article>
    </div>
    </div>
  </div>
  
</div>

</section>
{% endblock %}