{% layout "server/layouts/base.liquid" %}


{% block project %}

<ul class="subjects-overview">
    <li><h2> ✨ Speaker Marieke✨</h2></li>
    <li><p>Scroll down to see my notations</p></li>
    <li>  
        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
         <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 19V5m0 14-4-4m4 4 4-4"/>
        </svg></li>
    </li>
</ul>
    {% comment %} <h2>Stop using JS, but instead HTML & CSS </h2> {% endcomment %}

<section class="map-overview">
<div class="window">
  <div class="toolbar">
    <div class="traffic-lights">
      <span class="red"></span>
      <span class="yellow"></span>
      <span class="green"></span>
    </div>
    <div class="title">THOURTEENTH SPEAKER MARIEKE</div>
  </div>
  <div class="content">
    <aside class="sidebar">
      <div class="section">Favorites</div>
      <ul>
        <li>AirDrop</li>
        <li>Recents</li>
        <li>Applications</li>
        <li>Desktop</li>    
        <li>Documents</li>
        <li>Downloads</li>
      </ul>
      <div class="section">iCloud</div>
      <ul>
        <li>iCloud Drive</li>
        <li>Shared</li>
      </ul>
      <div class="section">Tags</div>
      <ul class="tags">
        <li><span class="dot red-dot"></span>Red</li>
        <li><span class="dot orange-dot"></span>Orange</li>
        <li><span class="dot yellow-dot"></span>Yellow</li>
        <li><span class="dot green-dot"></span>Green</li>
        <li><span class="dot blue-dot"></span>Blue</li>
        <li><span class="dot purple-dot"></span>Purple</li>
        <li><span class="dot gray-dot"></span>Gray</li>
      </ul>
    </aside>


  <div class="main-content">
  
    <div class="single-project">
        <section class="introduction-project change-color">
          <ul>
            <li><p class="badge-lightpink">Speaker 14</p></li>
            <li><h1><span class="highlight">Digital </span> accessibility</h1></li>
          </ul>
        </section>


        <article class="project-section">
          <div class="text">
            <h2 class="gradient-greypink"> Summary </h2>
            <p>
            Marieke is an old CMD student who is working as a digital accessibility expert. She gave a talk about accesibility, why it's important and what the impact is of
            the new law that will be implemented on 28 june 2025. The law says that every digital product needs to be accessible.
            More than 32% of 5,5 milion people in the Netherlands have a disability, so it's a big topic but not only in the Netherlands
            but also in europe. The law is called : european accessibility act (EAA).

        </article>
      
        <article class="project-section">
          <div class="text">
            <h2 class="gradient-greypink"> 💫 Reflectie</h2>
            <p>
            Through this minor, I have learned a lot about accessibility and why it's important but nobody directly told me 
            what the new law is bringing. I'm positive about the law because the web is designed for everyone, so also the people with a disability.
            Marieke says the companies with get more than 5/20 years to rebuild their website, but I think that that is too generous, because the people with 
            disabilities can't wait 20 year for a website to accessible. But that's my opion!
            </p>
          </div>
        </article>

    </div>

    </div>
  </div>
  
</div>

</section>
{% endblock %}