{% layout "server/layouts/base.liquid" %}


{% block project %}

<ul class="subjects-overview">
    <li><h2> ✨ Speaker Jeremy Keith ✨</h2></li>
    <li><p>Scroll down to see my notations</p></li>
    <li>  
        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
         <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 19V5m0 14-4-4m4 4 4-4"/>
        </svg></li>
    </li>
</ul>
    {% comment %} <h2>Stop using JS, but instead HTML & CSS </h2> {% endcomment %}

<section class="map-overview">
<div class="window">
  <div class="toolbar">
    <div class="traffic-lights">
      <span class="red"></span>
      <span class="yellow"></span>
      <span class="green"></span>
    </div>
    <div class="title">SIXTH SPEAKER - JEREMY</div>
  </div>
  <div class="content">
    <aside class="sidebar">
      <div class="section">Favorites</div>
      <ul>
        <li>AirDrop</li>
        <li>Recents</li>
        <li>Applications</li>
        <li>Desktop</li>
        <li>Documents</li>
        <li>Downloads</li>
      </ul>
      <div class="section">iCloud</div>
      <ul>
        <li>iCloud Drive</li>
        <li>Shared</li>
      </ul>
      <div class="section">Tags</div>
      <ul class="tags">
        <li><span class="dot red-dot"></span>Red</li>
        <li><span class="dot orange-dot"></span>Orange</li>
        <li><span class="dot yellow-dot"></span>Yellow</li>
        <li><span class="dot green-dot"></span>Green</li>
        <li><span class="dot blue-dot"></span>Blue</li>
        <li><span class="dot purple-dot"></span>Purple</li>
        <li><span class="dot gray-dot"></span>Gray</li>
      </ul>
    </aside>


  <div class="main-content">
  
    <div class="single-project">
        <section class="introduction-project change-color">
          <ul>
            <li><p class="badge-lightpink">Speaker 6</p></li>
            <li><h1><span class="highlight">Declarative </span> or imperative</h1></li>
            <li class="intro">
            </li>
          </ul>
        </section>


        <article class="project-section">
          <div class="text">
            <h2 class="gradient-greypink"> Summary </h2>
            <p>
            Jeremy Keith is, what I later found out, a legend in the CSS world. He has a lot of nolegde about the code 
            languages and the histories. He says that their are 2 ways to handle code: free coding or strict coding. 
            <br>
            He says that their is a distinction between declarative or imperative workplaces and people. 
            You either like to be told what to do or you like to have the freedom. It's all connected to mindset.
            </p>
          </div>
        </article>

        <article class="project-section">
          <div class="text">
            <h2 class="gradient-greypink"> 💫 Reflectie</h2>
            <p>
              If I'm being honest, for a momement during the talk I didn't even know what I was. Was I declaritive or imperative? But then
              someone asked the question:"Can you be both?", and I think that that's me. I'm a bit of both. This talk was very informative because it's important to know
              which one you are. I like to have the freedom, but also not too much. The talk was an eye-opener and I didn't make many notes, only : "which one am I?"
            </p>
          </div>
        </article>
    </div>
    </div>
  </div>
  
</div>

</section>
{% endblock %}