{% layout "server/layouts/base.liquid" %}


{% block project %}

<ul class="subjects-overview">
    <li><h2> ✨ Speaker Miriams Susanne</h2></li>
    <li><p>Scroll down to see my notations</p></li>
    <li>  
        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
         <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 19V5m0 14-4-4m4 4 4-4"/>
        </svg></li>
    </li>
</ul>
    {% comment %} <h2>Stop using JS, but instead HTML & CSS </h2> {% endcomment %}

<section class="map-overview">
<div class="window">
  <div class="toolbar">
    <div class="traffic-lights">
      <span class="red"></span>
      <span class="yellow"></span>
      <span class="green"></span>
    </div>
    <div class="title">FIFTHTEEN SPEAKER MIRIAMS</div>
  </div>
  <div class="content">
    <aside class="sidebar">
      <div class="section">Favorites</div>
      <ul>
        <li>AirDrop</li>
        <li>Recents</li>
        <li>Applications</li>
        <li>Desktop</li>    
        <li>Documents</li>
        <li>Downloads</li>
      </ul>
      <div class="section">iCloud</div>
      <ul>
        <li>iCloud Drive</li>
        <li>Shared</li>
      </ul>
      <div class="section">Tags</div>
      <ul class="tags">
        <li><span class="dot red-dot"></span>Red</li>
        <li><span class="dot orange-dot"></span>Orange</li>
        <li><span class="dot yellow-dot"></span>Yellow</li>
        <li><span class="dot green-dot"></span>Green</li>
        <li><span class="dot blue-dot"></span>Blue</li>
        <li><span class="dot purple-dot"></span>Purple</li>
        <li><span class="dot gray-dot"></span>Gray</li>
      </ul>
    </aside>


  <div class="main-content">
  
    <div class="single-project">
        <section class="introduction-project change-color">
          <ul>
            <li><p class="badge-lightpink">Speaker 15</p></li>
            <li><h1><span class="highlight">Cascades </span> cascading</h1></li>
          </ul>
        </section>


        <article class="project-section">
          <div class="text">
            <h2 class="gradient-greypink"> Summary </h2>
            <p>
             Miriam Susanne is a women from America. She's really fun and very smart. She gave a talk about cascading. 
             Web has to be textual, collaborating with all browsers but is a website able to do that?
             In the early web, the website stylings were universele, but now everything looks different en works different.
             Was de web made for styling? For images? In first instance, was the web made for public research.

            </p>
        </article>
      
        <article class="project-section">
          <div class="text">
            <h2 class="gradient-greypink"> 💫 Reflectie</h2>
            <p>
             I thought Miriam was a very good speaker. She had me hooked but I didn't really understand the whole talk if i'm being honest.
             I don't know what cascading means, but I understand what she's saying about her question on for what is de web made for? And how is it used now? What that the purpose?
             I know the web als google, searching for information, images, video's to watch on youtube, making board on Pinterest. I never stood still on how the web become as it is now.
            </p>
          </div>
        </article>

    </div>

    </div>
  </div>
  
</div>

</section>
{% endblock %}